{%extends 'base.html'%}
{%block content%}
<div class="p-3 mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow p-3 mt-4 rounded">
                    <div class="card-body">
                        <h2 class="coiny-regular" id="form">Log In</h2>
                        {% if template_data.error %}
                            <div class="alert alert-danger" role="alert">
                                {{template_data.error}}
                            </div>
                        {% endif %}
                        <form method="POST">
                            {%csrf_token%}
                            <div class="py-2 form-group">
                                <label>Username</label>
                                {{template_data.form.username}}
                            </div>
                            <div class="py-2 form-group">
                                <label>Password</label>
                                {{template_data.form.password1}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
{%endblock content%}