{% extends "base.html" %}
{%load static%}
{% block content %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div id="form" class="card border-0 rounded-lg mt-0 mb-3">
                        <div class="card-body text-center">
                            <h3 class="coiny-regular">Forgot Password?</h3>
                            {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                            <form method="POST">
                                {%csrf_token%}
                                <div class="form-group my-4">
                                    <h5>Enter your email for a link to reset your password</h5>
                                    <input type="email" name="email"  class="form-control" autocomplete="email" maxlength="254" required id="id_email" placeholder="Enter email">
                                </div>
                                <button type="submit" class="col-6 btn btn-dark">Send me the Link</button>
                                <div class="form-group mt-3">
                                    <a href="{%url 'accounts.signup'%}">Create an Account</a> <br/>
                                    <a href="{%url 'accounts.login'%}">Have an Account? Sign In</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}
