{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <!-- Text Section -->
        <div class="col-lg-6 mb-4">
            <div class="bg-white p-4 rounded shadow-sm">
                <h3 class="coiny-regular mb-3">About</h3>
                <p>
                    TravelMate is a web application that makes planning and packing for trips easy.
                    It provides users with useful tools such as weather-appropriate outfit recommendations,
                    travel tips, and a packing list.
                </p>
                <p>
                    TravelMate uses real-time weather data to give accurate outfit suggestions. Users can also
                    create and save “trips” with destination and packing details. These trips can be accessed
                    from any device and shared with others to streamline the process.
                </p>
            </div>
        </div>

        <!-- Image Section -->
        <div class="col-lg-4 text-center">
            <div class="bg-white p-3 rounded shadow-sm">
                <img src="{% static 'img/logo3.png' %}" height="200px" alt="TravelMate Logo" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock content %}
