{% extends 'base.html' %}
{% block content %}
<div class="py-5" style="background-color: #add8f3;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <h2 class="coiny-regular mb-4 text-center">About</h2>
        <p>
          TravelMate is a web application that makes planning and packing for trips easy. TravelMate provides users with many useful tools such as weather-appropriate outfit recommendations, travel tips, and a packing list.
        </p>
        <p>
          TravelMate can accurately give outfit suggestions because it uses real-time weather data. This web application also allows users to be able to make specific “trips” that can be saved and reused.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
