{% extends 'base.html' %}
{%load static%}
{%block content%}
<div class="p-5">
    <div class="container">
        <div class="row mt-3">
            <div class="col mx-auto text-center mb-3">
              <h2 class='coiny-regular'>TravelMate: Your <em>destination</em> for intutitive vacation planning!</h2>
            </div>
          </div>
    </div>
    <div class="row m-3">
        <div class="col-5 px-3 mx-auto text-center my-auto" >
            <div class="card w-100" id="form">
                <div class="card-body">
                    <h3 class="card-title coiny-regular">Enter your trip details</h3>
                    <h6 class="card-sutitle">TravelMate uses API integrations to give you accurate weather, packing, and activites</h6>
                    <br/>
                    <form action="" method="GET">
                        <p>
                            <label for="destination">Destination: </label>
                            <input id="destination" type="text" name="destination" value="{{destination}}">
                        </p>
                        <p>
                            <label for"trip-dates"> Start/End Date(s) of Trip: </label>
                            <input id="trip-dates" type="date" name="start-date" value="{{start_date}}"> -
                            <input id="trip-dates" type="date" name="end-date" value="{{end_date}}">
                        </p>
                        <p>
                            <label for="activities"> Planned Activities: </label><br/>
                            <textarea id="activities" name="activities" rows="6" value="{{activities}}" placeholder="Enter your activities, separated by commas"></textarea>
                        </p>
                        <input type="submit" value="Plan My Trip!">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2 px-3 mx-auto text-center my-auto">
            <h2 class="coiny-regular">OR</h2>
        </div>
        <div class="col-5 px-3 mx-auto text-center my-auto">
            <div class="card w-75 py-3" id="form">
                <h3 class="card-title coiny-regular">Don't know where to go?</h3>
                <a href="#" class="btn btn-primary mx-auto"> Choose a Premade Trip</a>
            </div>
        </div>        
    </div>
</div>
{%endblock content%}