{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="p-5 m-3">
    <div class="container">
        <div class="row my-2 mx-auto p-3 text-center" id="edit-trip">
            <div class="col-4 mx-auto mb-3">
                <h2 class="coiny-regular"> Placeholder Trip </h2>
                <a href="#" class="btn btn-primary">Add Traveler</a> <a href="#" class="btn btn-primary"> Export as PDF </a>
            </div>
        </div>
        <div class="row my-2 p-3" id="edit-trip">
            <div class="col-7 mb-3">
                <h4 class="coiny-regular">Weather</h4>
                <p>Info Here from API</p>
            </div>
        </div>
        <div class="row my-2 p-3" id="edit-trip">
            <div class="col-7 mb-3">
                <h4 class="coiny-regular">Packing List</h4>
                <ul>
                    <li> Item 
                    <li> Item
                    <li> Item 
                    <li> Item
                </ul>
                <a href="#" class="btn btn-primary">Edit</a>
            </div>
        </div>
        <div class="row my-2 p-3" id="edit-trip">
            <div class="col-7 mb-3">
                <h4 class="coiny-regular">Activities</h4>
                <ul>
                    <li> Item
                    <li> Item
                    <li> Item
                    <li> Item
                </ul>
            </div>
        </div>
        <div class="row my-2" id="edit-trip">
            <h4 class="coiny-regular">Additional Considerations</h4>
            <p>Info Here</p>
        </div>
        <div class="row my-2 mx-auto" id="edit-trip">
            <a href="#" class="btn btn-primary">Save Trip</a>
        </div>
    </div>
</div>
{%endblock content%}